.btn-scalable {

  @include btnBasic;



  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
  }

  &:active,
  &:focus {
    outline: #2ddf5c;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }


  &--white {
    background-color: #fff;
    color: black;
  }

  &--white::after {
    background-color: $color-white;
  }

  &--colorful {
    background: linear-gradient(to top right, $color-primary-dark,$color-primary,$color-primary-light);
    color: $color-white;
  }

  &--colorful::after {
    background: linear-gradient(to top right, $color-primary-dark,$color-primary,$color-primary-light);
    color: $color-white;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;

  }


  &:hover::after {

    transform: scalex(1.4) scaleY(1.6);
    opacity: 0;
  }

  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }

}


.btn-fluid {
  position: relative;

  &-front,
  &-back {
    @include btnBasic;
    color: black;

  }

  &-front {
    background: white;
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    @include respond(tab-land){
      color: white;
      background: linear-gradient(
                      to left,
                      rgba($color-primary-dark, 1),
                      rgba($color-primary, 1),
                      rgba($color-primary-light, 1));
    }


    // When the front btn is hovered select the back btn and set the circle size
    // technically the back button comes on top since it comes last in the doc and both back and front
    // have the same z-index. But by  setting the clip-path on the back btn to 0s, this will hide all its content
    // and then when the clip path is set to  circle(120% at 0% 0%); the back btn will be shown along with its content
    &:hover ~ .btn-fluid-back {


      clip-path: circle(100% at 5% 50%);
      color: white;
    }
  }

  &-back {
    background: linear-gradient(
                    to left,
                    rgba($color-primary-dark, 1),
                    rgba($color-primary, 1),
                    rgba($color-primary-light, 1));
    clip-path: circle(0% at 3% 15%);
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    transition: all .7s ease-in-out !important;

    // keep the clip path value the same while the back btn is hovered.
    &:hover {
      clip-path: circle(100% at 5% 50%);
      color: white;

    }

  }

  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }

  //&--colorful {
  //  background: $color-white;
  //  color: black;
  //
  //  &:hover {
  //
  //  }
  //
  //  &::before {
  //    content: '';
  //    width: 100%;
  //    height: 100%;
  //    background: rgba(64, 0, 110, 0.3);
  //    position: absolute;
  //    top: 0;
  //    left: 0;
  //    border-radius: inherit;
  //    clip-path: circle(0% at 10% 3%);
  //    transition: all 1s ease-in-out;
  //    color: black;
  //    z-index: 1;
  //  }
  //
  //  &:hover::before {
  //    clip-path: circle(120% at 0% 0%);
  //
  //    //background: red;
  //  }
  //}


  //&--white {
  //  background: lightseagreen;
  //  color: black;
  //
  //  clip-path: circle(10% at 0% 0%);
  //}


}

.btn-text {

  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
    transition: all .2s;
  }

  &:active {
    box-shadow: 0 0.5rem 2rem rgba($color-black, .15);
    transform: translateY(0);
  }


}
