// Functionality
.card {
  perspective: 100rem;
  position: relative;
  height: 52rem;


  &__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);


    &--front,
    &--back
    {

      background: linear-gradient(
                      to top right,
                      rgba($color-primary-dark,.9),
                      rgba($color-primary,.9),
                      rgba($color-primary-light,.9));
    }

    &--back {

      transform: rotateY(180deg);


    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }



  // Front side styling
  &__picture {

    background-size: cover;
    height:100%;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 50% 0, 100% 30%, 55% 100%,0% 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {

      background-image:
      url("../img/models/mod-21.jpg");

    }

    &--2 {
      background-image: url("../img/models/mod-2.jpg");
    }

    &--3 {
      background-image: url("../img/models/mod-6.jpg");

      background-position: 100% 40%;
      background-size: 110%;
    }

    &--4{
      background-image: url("../img/models/mod-12.jpg")

    }
    &--5{

      background-image: url("../img/models/mod-13.jpg")
    }
    &--6{

      background-image: url("../img/models/mod-14.jpg")
    }

    &--7 {
      background-image: url("../img/models/mod-1.jpg");

      background-position: 100% 100%;
      background-size: 120%;
    }

    &--8 {
      background-image: url("../img/models/mod-4.jpg");

      background-position: 50% center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--9{
      background-image: url("../img/models/mod-5.jpg");

      background-position: 150% 100%;
      background-size: 110%

    }
    &--10{

      background-image: url("../img/models/mod-7.jpg");
    }
    &--11{

      background-image: url("../img/models/mod-8.jpg");

      background-position: 150% 100%;
      background-size: 115%;
    }



    &--12{

      background-image: url("../img/models/mod-9.jpg");

      background-position: 100% 100%;
      background-size: 116%;
    }

    &--13{

      background-image: url("../img/models/mod-10.jpg");

    }

    &--14{

      background-image: url("../img/models/mod-11.jpg");

      background-position: 100% 100%;
      background-size: cover;
    }
    &--15{

      background-image: url("../img/models/mod-15.jpg");

      background-position: 100% 100%;
      background-size: cover;
    }

    &--16{

      background-image: url("../img/models/mod-16.jpg");
    }

    &--17{

      background-image: url("../img/models/mod-17.jpg");
    }

    &--18{

      background-image: url("../img/models/mod-18.jpg");

      background-position:center;
      background-size: cover;
    }

    &--19{

      background-image: url("../img/models/mod-19.jpg");

      background-position: center;
      background-size: 130%;
    }

    &--20{

      background-image: url("../img/models/mod-20.jpg");
    }

    &--21{

      background-image: url("../img/models/mod-3.jpg");
    }
    &--22{

      background-image: url("../img/models/mod-22.jpg");
    }
    &--23{

      background-image: url("../img/models/mod-23.jpg");

      background-position: 110% 50%;
      background-size: 120%;
    }
    &--24{

      background-image: url("../img/models/mod-24.jpg");

      background-size: cover;
      background-position: center;
    }
  }

  //&__heading {
  //  font-size: 2.8rem;
  //  font-weight: 300;
  //  text-transform: uppercase;
  //  text-align: right;
  //  color: white;
  //  position: absolute;
  //  top: 12rem;
  //  right: 2rem;
  //  width: 75%;
  //}

  //&__heading-span {
  //
  //  padding: 1rem 1.5rem;
  //  box-decoration-break: clone;
  //  -webkit-box-decoration-break: clone;
  //
  //  &--1 {
  //    background-image: linear-gradient(
  //                    to right bottom,
  //                    rgba($color-secondary-light, .85),
  //                    rgba($color-secondary-dark, .85)
  //    );
  //  }
  //
  //  &--2 {
  //    background-image: linear-gradient(
  //                    to right bottom,
  //                    rgba($color-primary-light, .85),
  //                    rgba($color-primary-dark, .85)
  //    );
  //  }
  //
  //  &--3 {
  //    background-image: linear-gradient(
  //                    to right bottom,
  //                    rgba($color-tertiary-light, .85),
  //                    rgba($color-tertiary-dark, .85)
  //    );
  //  }
  //}

  //&__details {
  //  padding: 3rem;
  //
  //  ul {
  //    list-style: none;
  //    width: 80%;
  //    margin: 0 auto;
  //
  //    li {
  //      text-align: center;
  //      font-size: 1.5rem;
  //      padding: 1rem;
  //
  //      &:not(:last-child) {
  //        border-bottom: 1px solid $color-grey-light-2;
  //      }
  //    }
  //  }
  //
  //}

  // Back side styling

  &__cta {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__price-box {
    text-align: center;
    margin-bottom: 12rem;
    color: $color-white;
    font-weight: 300;

  }

  &__price-only {
    font-size:2.3rem;
    text-transform: uppercase;

  }
  //
  //&__price-value {
  //  font-size: 6rem;
  //
  //}



   //responsive card and touch only devices no mouse hovering
  @media only screen and (max-width: 56.25rem), (hover:none){

    border-radius: 3px;
    height: auto;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &__side {
      //height: auto;
      position: relative;
      box-shadow: none;
      border-radius: 3px;


      &--front
      {


        background: linear-gradient(
                        90deg,
                        rgba($color-primary-dark,1),
                        rgba($color-primary,1),
                        rgba($color-primary-light,1));

      }

      &--back {

        margin-top: -5rem;
        height: 25rem;
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);

        background: linear-gradient(
                        to top right,
                        rgba($color-primary-dark,1),
                        rgba($color-primary,1),
                        rgba($color-primary-light,1));
      }
    }

    &__picture{
      clip-path: none;
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details{
      padding: 1rem 3rem;
    }


    // Front side styling unchanged


    // Back side styling

    &__cta {

      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;

    }

    &__price-only{
      font-size: 2.8rem;
    }

    //&__price-value {
    //  font-size: 6rem;
    //
    //}
  }
}