.feature-box {
  background-color: rgba($color-white, .8);
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 5rem;
  box-shadow: 0 5rem 4rem rgba($color-black, .15);
  transition: transform .3s;
  cursor: pointer;

  @include respond(tab-port) {
    padding: 2rem;

  }

  &__icon {

    width: 10rem;
    height: 10rem;
    fill: url('#grd');


  }


  &:hover {

    transform: translateY(-1.5rem) scale(1.03);
  }

}

.feature__heading{

  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: $color-grey-light-2;
  letter-spacing: .2rem;
  transition: all .2s;
}