.footer {
  background-color: $color-grey-dark-3;
  padding-top: 19rem;
  padding-bottom: 7rem;
  font-size: 1.4rem;
  color: $color-grey-light-1;
  margin-top: -12rem;

  @include respond(tab-land){
    padding: 11rem 0;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 1rem;

    @include respond(tab-port) {

      margin-bottom: 6rem;
    }
  }

  &__logo {
    max-width: 100%;
  }

  &__navigation {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    display: inline-block;

    @include respond(tab-port) {

      width: 100%;
      text-align: center;
    }
  }

  &__list {

    list-style: none;

  }

  &__item {

    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;

    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      background-color: $color-grey-dark-3;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all .2s;
    }

    &:hover,
    &:active {
      color: transparent;
      background-image: var(--gradient-primary);
      -webkit-background-clip: text;
      box-shadow: 0 1rem 2rem rgba($color-black, .4);
    }

    @include respond(tab-land){
      box-shadow: 0 1rem 2rem rgba($color-black, .4);
    }

  }

  &__copyright {

    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    width: 80%;
    float: right;

    @include respond(tab-port) {

      width: 100%;
      float: none;
    }
  }
}