.header {
  height: 100vh;
  background-image: linear-gradient(
                  to bottom right,
                  rgba($color-primary-dark,.8),
                  rgba($color-primary,.8),
                  rgba($color-primary-light,.8)),
                  url("../img/hero-small.jpg"),
  ;


  background-size: cover;
  background-position: bottom 90% left 0;
  /*triangles*/
  /*clip-path: polygon(0 0,100% 0,50% 100%);*/
  /*clip-path: polygon(0 0 , 100% 0, 100% 75%, 0 100%);*/
  /*clip-path: polygon(0 0,100% 50%,0 100%);*/
  //clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: ellipse(80% 100% at 50% 0%);
  z-index: 100;
  position: relative;


  @include respond(tab-land) {
    clip-path: ellipse(100% 80% at 50% 0%);
    height: 95vh;

  }

@include respond(phone){
  background-position: 40% center;
  background-repeat: no-repeat;
  background-size: cover;

  &-btn{
    display: none;
  }
}

  // responsive images with css when background-image is used. Conditions are separated with ','
  // webkit-min-device-pixel-ratio is the pixel density setting for safari which is the same as
  // min-resolution in other browsers
  @media (min-resolution: 192dpi) and (min-width: 37.5em),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  (min-width: 125em) {

    background-image: linear-gradient(
                    to bottom right,
                    rgba($color-primary-dark,.8),
                    rgba($color-primary,.8),
                    rgba($color-primary-light,.8)),
    url("../img/hero.jpg") ,
  ;
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

}



