* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**
stacking context demo

    // The containing block which using this class must have a z-index
    // this is important because it defies the stacking context where lives child-1,2 on the z axis
    // setting z-index -1 on children and parent to 1 will not push the elms behind the parent
    // although the content in the parent will will be on top of the before element which will result in background
    // being bellow the content that doesn't have a defined background like for example a <p> will show its text
    // on top of ::before
 */
.parent-test{
    position: relative;
    width: 25rem;
    height: 25rem;
    background: gold;
    z-index: 1;
    color: white;


}

.parent-test-2{
    position: relative;
    width: 100%;
    background: blueviolet;
    top: 0;
}

.child-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background: black;
    z-index: 1;

}

.sub-child-1{
    position: absolute;
    top:0;
    left: 50%;
    width: 35px;
    height: 35px;
    background: #521751;
}

.child-2{

    position: absolute;
    top: 30%;
    left: 30%;
    width: 50%;
    height: 50%;
    background: red;
    z-index: -1;
}

.child-3{
    position: absolute;
    height: 10%;
    width: 100%;
    background: #2ddf5c;
    top:0;
}

/*.child-1 {*/
/*    position: fixed;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    !*background: transparent;*!*/
/*    text-align: center;*/
/*    z-index: 999;*/
/*}*/

/*.child-1 a {*/
/*    font-size: 1.5rem;*/
/*    !*margin: 6rem;*!*/
/*}*/

/*.child-2 {*/
/*    position: relative;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 1800px;*/
/*    background: #ff1b68;*/
/*    color: white;*/
/*    text-align: center;*/
/*}*/

